@model IEnumerable<PLANILLA.ENTIDADES.Trabajadores>

@{
    ViewData["Title"] = "Index";
}

<h1>Trabajadores</h1>

<br />
<form>
    <div class="row">
        <div class="col-2 text-end">
            <label class="form-label">Nr. Doc o Nombre :</label>            
        </div>
        <div class="col-4 text-start">
            <input type="text" name="busqueda" class="form-control" />
        </div>
        <div class="col-3 text-start">
            <input class="btn btn-primary" type="submit" value="Consultar" />
        </div>
    </div>
    <br />
    <div class="col-3 text-start">        
        <a asp-action="NuevoRegistro" class="btn btn-primary">Nuevo registro</a>
    </div>
    <br />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoMaterno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarRegistro", new { busqueda = item.Documento }) |
                
                @Html.ActionLink("Eliminar", "EliminarRegistro", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <strong>Cant. Pag.: @ViewBag.totalPaginas</strong>
</p>
<br />
<div class="pagination pagination-sm">
    @for (int x = 1; x <= ViewBag.totalPaginas; x++)
    {
        <a class="page-link"
           asp-action="Index"
           asp-route-page="@x"
           >
            @x
        </a>
    }
</div>
